# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName www.old.joycesociety.org
AuthUserFile /home/content/j/o/y/joycesociety/html/_vti_pvt/service.pwd
AuthGroupFile /home/content/j/o/y/joycesociety/html/_vti_pvt/service.grp
